.body {
	BACKGROUND-COLOR: #ffffff}
.selpathroot {
	BACKGROUND-COLOR: #CCCC99; COLOR: #666600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-INDENT: 5px}
.selpathnode {
	BACKGROUND-COLOR: #CCCC99; COLOR: #666600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-INDENT: 2pt
}
.selpathsel {
	BACKGROUND-COLOR: #FFFFFF; COLOR: #990033; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-INDENT: 2pt
}
.selpathterm {
	BACKGROUND-COLOR: #ffffff
}
.tabunselected {
	BACKGROUND-COLOR: #CCCC99;
	COLOR: #666600;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	TEXT-INDENT: 2pt;
	padding-right: 5px;
	padding-left: 5px;
}
.tabunselected A:link {
	COLOR: #666600; TEXT-DECORATION: none
}
.tabunselected A:visited {
	COLOR: #666600; TEXT-DECORATION: none
}
.tabunselected A:active {
	COLOR: #666600; TEXT-DECORATION: underline
}
.tabunselected A:hover {
	COLOR: #999933; TEXT-DECORATION: underline
}
.tabselected {
	BACKGROUND-COLOR: #999933;
	COLOR: #FFFFFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	TEXT-INDENT: 2pt;
	padding-right: 5px;
	padding-left: 5px;
}
.tableoutline {
	BACKGROUND-COLOR: #999966}
.tablerow {
	BACKGROUND-COLOR: #FFFFFF}
.tableheading {
	BACKGROUND-COLOR: #FFFFCC;
	COLOR: #666600;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	padding-left: 5px;
	line-height: 20px;
}
.tablecell {
	COLOR: #990000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	line-height: 30px;
	padding-left: 5px;
}
.copyright {
	BACKGROUND-COLOR: #990033; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.topnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666600;
	background-color: #FFFFFF;
	font-weight: bold;
}
.topnav A:link {
	color: #666600;
	text-decoration: none;
}
.topnav A:visited {
	color: #666600;
	text-decoration: none;
}
.topnav A:active {
	color: #999933;
	text-decoration: underline;
}
.topnav A:hover {
	color: #999933;
	text-decoration: underline;
}
.greeting {
	BACKGROUND-COLOR: #990036; CLIP: ; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: 30px
}
.leftnavtitlebox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #999933;
	font-weight: bold;
	text-indent: 8px;
}
.leftnavlinks {
	color: #666600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #CCCC99;
}
.leftnavlinks A:link {
	color: #333300;
	text-decoration: none;
}
.leftnavlinks A:visited {
	color: #333300;
	text-decoration: none;
}
.leftnavlinks A:active {
	color: #003366;
	text-decoration: none;
}

.leftnavlinks A:hover {
	color: #666666;
	text-decoration: underline;
}
.activeleftnavlinks {
	color: #666600;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #999933;
}
.activeleftnavlinks A:link {
	color: #333300;
	text-decoration: none;
}
.activeleftnavlinks A:visited {
	color: #333300;
	text-decoration: none;
}
.activeleftnavlinks A:active {
	color: #003366;
	text-decoration: none;
}

.activeleftnavlinks A:hover {
	color: #666666;
	text-decoration: underline;
}
.leftnavarrow {
	background-color: #CCCC99;
}
.activeleftnavarrow {
	background-color: #999933;
}
.logtablerow {
	BACKGROUND-COLOR: #FFFFCC}
.rightpaneltext {
	COLOR: #003366;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	line-height: 20px;
	padding-left: 5px;
}
.rightpaneltext A:link {
	color: #003366;
	text-decoration: none;
}
.rightpaneltext A:visited {
	color: #003366;
	text-decoration: none;
}
.rightpaneltext A:active {
	color: #999933;
	text-decoration: underline;
}
.rightpaneltext A:hover {
	color: #999933;
	text-decoration: underline;
}
.searchboxtext {
COLOR: #666600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-INDENT: 2pt
}
.leftpanelbox {
	BACKGROUND-COLOR: #CCCC99}
.topnavspacer {
	background-color: #CCCC99;
}
.welcome {
	BACKGROUND-COLOR: #FFFFFF; CLIP: ; COLOR: #990033; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: 30px
}
.dialogh1 {
	COLOR: #666600;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	line-height: 20px;
	padding-left: 5px;
}
.welcomemessage {
	COLOR: #003366;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	line-height: 20px;
}
.tablecellbutton {
	BACKGROUND-COLOR: #FFFFFF;
	padding-top: 10px;
	vertical-align: middle;
	padding-bottom: 10px;
}
